---

---

title="About | Keifer Erikson" description="About Keifer Erikson Lorem Ipsum" >
<div class="stack gap-20">
  <main class="wrapper about">
    title="About" tagline="Thanks for stopping by. Read below to learn more
    about myself and my background." >
    <img
      width="1553"
      height="873"
      src="/assets/at-banff.webp"
      alt="Keifer Erikson at a lake in Banff National Park, Alberta, Canada."
    />

    <section>
      <h2 class="section-title">Background</h2>
      <div class="content">
        <p class="pb-4">
          Ever since I was a child, I've been passionate about technology. I
          used to disassemble my electronic toys to understand how they worked,
          tinkering and rebuilding them. My early days were spent in front of an
          old DOS computer, marveling at its black screen and green text. While
          I've been programming on and off for most of my life, I took a
          significant step last year at the age of 32 by enrolling in a Digital
          Media and IT Diploma, specializing in Computer Software Development.
          I'm halfway through the program and eager to apply my skills in
          real-world projects.
        </p>
        <p>
          <a href="https://astro.build/">Astro</a> is a new and exciting framework
          for me, which is why I've chosen it for building my portfolio website.
          The learning process has been incredibly engaging and enjoyable. Prior
          to Astro, my experience with frameworks was primarily with Vue/Nuxt, and
          I'm thrilled to expand my toolkit.
        </p>
      </div>
    </section>
    <section>
      <h2 class="section-title">Education</h2>
      <div class="content">
        <p>
          Northern Alberta Institute of Technology - Digital Media and IT |
          Computer Software Development <span class="text-sm text-slate-400"
            >Ongoing - Graduating in 2025</span
          >
        </p>
      </div>
    </section>
    <section>
      <h2 class="section-title">Skills</h2>
      <div class="content">
        <p>
          I am known for my meticulous attention to detail and perfectionist
          mindset. I approach problems with tenacity and dedication, working
          tirelessly until I achieve the desired outcome. I pride myself on my
          loyalty, hard work, reliability, and always being punctual and
          diligent.
        </p>
      </div>
    </section>
  </main>
</div>

<style>
  .about {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
  }

  img {
    margin-top: 1.5rem;
    border-radius: 1.5rem;
    box-shadow: var(--shadow-md);
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: var(--gray-200);
  }

  .section-title {
    grid-column-start: 1;
    font-size: var(--text-xl);
    color: var(--gray-0);
  }

  .content {
    grid-column: 2 / 4;
  }

  .content :global(a) {
    text-decoration: 1px solid underline transparent;
    text-underline-offset: 0.25em;
    transition: text-decoration-color var(--theme-transition);
  }

  .content :global(a:hover),
  .content :global(a:focus) {
    text-decoration-color: currentColor;
  }

  @media (min-width: 50em) {
    .about {
      display: grid;
      grid-template-columns: 1fr 60% 1fr;
    }

    .about > :global(:first-child) {
      grid-column-start: 2;
    }

    section {
      display: contents;
      font-size: var(--text-lg);
    }
  }
</style>
